.nav {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 1em;
}

.nav__titulo {
    font-size: 1.8rem;
    font-weight: 700;
}

.principal__cadastro {
    max-width: 40rem;
    padding: 0 2rem;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.cadastro__imagem {
    width: 25rem;
    height: 20rem;
}

.principal__titulo {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--laranja);
}

.principal__subtitulo {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 26px;
    color: var(--azul);
    margin: 3em 0 2em 0;
}