.principal {
    max-width: 40rem;
    padding: 0 2rem;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.principal__titulo {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--laranja);
}

.principal__subtitulo {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 26px;
    color: var(--azul);
    margin: 3em 0 2em 0;
}

.campo__etiqueta {
    display: block;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--azul);
}

.campo__escrita {
    border: 1px solid var(--azul);
    border-radius: 1rem;
    padding: 1em;
    width: 100%;
}

.formulario__campo {
    margin: .6em 3em .6em 0;

}

.formulario__dupla {
    display: flex;
}


.wrapper-botao{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}


.formulario__botao {
    background: var(--laranja);
    padding: 1em 4em;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: none;
    color: var(--branco);
    cursor: pointer;
    float: right;
    border-radius: 1rem;
}

